.visualizer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.visualizer-buttons button {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(0, 200, 255, 1.0);
    color:rgba(255, 255, 255, 1.0);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 150px;
    height:50px;
    border-radius: 25px;
    /*border: 1px solid rgba(0, 0, 0, 0.5);*/
}

.visualizer-buttons button:hover{
    background-color: rgba(0, 200, 255, 0.75);
    cursor: pointer;
}

.visualizer-buttons button:active {
    background-color: rgba(0, 200, 255, 0.5);
    transform: translateY(2px);
}

.grid {
    background-color: rgba(255, 255, 255, 1.0);
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1700px;
}

.link-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

start-node {
    background-color: rgba(0, 255, 0, 1.0);
}

.link-buttons button {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(0, 200, 255, 1.0);
    color:rgba(255, 255, 255, 1.0);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height:50px;
    border-radius: 25px;
    /*border: 1px solid rgba(0, 0, 0, 0.5);*/
}

.link-buttons button:hover {
    background-color: rgba(0, 200, 255, 0.75);
    cursor: pointer;
}

.link-buttons button:active {
    background-color: rgba(0, 200, 255, 0.5);
    transform: translateY(2px);
}